<div class="top-nav">
    <% if(email){ %>
    <ul class="nav justify-content-around">

        <li class="nav-item mr-auto p-2">
            <a class="nav-link" href="/posts">
                <h3>
                    NEWBLOG
                </h3>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/signout">退出</a>
        </li>
        <li class="nav-item">
            <div class="write-post">
                <a class="nav-link active" href="/write">写文章</a>
            </div>
        </li>
    </ul>
    <% } %>
</div>