<div class="top-nav">

    <ul class="nav justify-content-around">

        <li class="nav-item mr-auto p-2">
            <a class="nav-link" href="/posts">
                <span class="nav-title">
                    NEWBLOG
                </span>
            </a>
        </li>
        <% if(email){ %>
        <li class="nav-item">
            <a class="nav-link" href="/signout">
                <span>
                    退出
                </span>
            </a>
        </li>
        <li class="nav-item">
            <div class="write-post">
                <a class="nav-link active" href="/write">
                    <span>
                        写文章
                    </span>
                </a>
            </div>
        </li>
        <% }else{ %>
        <li class="nav-item">
            <div class="login-button">
                <a class="nav-link active" href="/signin">
                    <span>
                        登录
                    </span>
                </a>
            </div>
        </li>
        <% } %>
    </ul>
</div>