<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <% if (success) { %>
        <div class="text-center text-success">
            <h5><%= success %></h5>
        </div>
        <% } %>

        <% if (error) { %>
        <div class="text-center text-danger">
            <h5><%= error %></h5>
        </div>
        <% } %>
    </div>
    <div class="col-3"></div>

</div>