<%- include('header') %>

<div>
    <p class="text-center">NEWBLOG</p>
</div>
<div class="row">

    <div class="col-3"></div>
    <div class="col-6">
        <form class="form-signup" method="POST" action="/signup" enctype="multipart/form-data">

            <div class="form-group">
                <label for="InputEmail1">昵称</label>
                <input type="text" class="form-control" id="InputNickName" placeholder="Enter nickname" name="nickname">
                <small id="nicknameHelp" class="form-text text-danger" style="display:none">请输入昵称</small>
            </div>
            <div class="form-group">
                <label for="InputEmail1">邮箱</label>
                <input type="text" class="form-control" id="InputEmail" aria-describedby="emailHelp"
                    placeholder="Enter email" name="email">
                <small id="emailHelp" class="form-text text-danger" style="display:none">请输入正确的邮箱地址</small>
            </div>

            <div class="form-group">
                <label for="InputPassword1">密码</label>
                <input type="password" class="form-control" id="InputPassword1" placeholder="Enter password">
                <small id="password1Help" class="form-text text-danger" style="display:none">请输入六位以上密码</small>
            </div>
            <div class="form-group">
                <label for="InputPassword2">重复密码</label>
                <input type="password" class="form-control" id="InputPassword2" placeholder="Enter password"
                    name="password">
                <small id="password2Help" class="form-text text-danger" style="display:none">两次密码不一致</small>
            </div>
            <div class="form-group">
                <label for="InputAvatar">设置头像</label>
                <input type="file" class="form-control" id="InputAvatar" name="avatar">
                <small id="avatarHelp" class="form-text text-danger" style="display:none">请上传头像</small>
            </div>
            <button type="submit" class="btn btn-primary center">注册</button>
        </form>
    </div>
    <div class="col-3"></div>
</div>


<script>
    const isErr = [true, true, true, true];

    const handleEmailInput = () => {
        var pattern = /^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;
        const address = $('#InputEmail').val();
        if (!pattern.test(address)) {
            $('#emailHelp').css('display', 'inline');
            isErr[0] = true;
        } else {
            $('#emailHelp').css('display', 'none');
            isErr[0] = false;
        }
    }

    const handleNickNameInput = () => {
        if ($('#InputNickName').val().trim() == '') {
            $('#nicknameHelp').css('display', 'inline');
            isErr[1] = true;
        } else {
            $('#nicknameHelp').css('display', 'none');
            isErr[1] = false;
        }
    }

    const handlePassword1Input = () => {
        if ($('#InputPassword1').val().length < 6) {
            $('#password1Help').css('display', 'inline')
            isErr[2] = true;
        } else {
            $('#password1Help').css('display', 'none')
            isErr[2] = false;
        }
    }

    const handlePassword2Input = () => {
        if ($('#InputPassword1').val() !== $('#InputPassword2').val()) {
            $('#password2Help').css('display', 'inline');
            isErr[3] = true;
        } else {
            $('#password2Help').css('display', 'none');
            isErr[3] = false;
        }
    }

    $('#InputNickName').blur((e) => {
        handleNickNameInput();
    })

    $('#InputEmail').blur((e) => {
        handleEmailInput();
    })

    $('#InputPassword1').blur((e) => {
        handlePassword1Input();
    })

    $('#InputPassword2').blur((e) => {
        handlePassword2Input();
    })

    $('#InputAvatar').focus((e) => {
        $('#avatarHelp').css('display', 'none');
    })

    $('form').submit((e) => {

        handleNickNameInput();
        handleEmailInput();
        handlePassword1Input();
        handlePassword2Input();

        const errNum = isErr.reduce((cur, next) => {
            if (next == true) {
                return cur + 1;
            }else{
                return cur;
            }
        }, 0);

        if ($('#InputAvatar').val() == "") {
            $('#avatarHelp').css('display', 'inline');
            e.preventDefault();
        }

        if (errNum !== 0) {
            e.preventDefault();
        }
    })
</script>


<%- include('footer') %>