body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-width: 1000px;
}

a {
  color: #00B7FF;
}

.copyright {
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.container {
  width: 80%;
}

.top-nav {
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgb(235, 235, 235);
  background: white;
}

.nav {
  position: relative;
}

.nav-title {
  font-size: 25px;
}

.notificaion {
  margin: 20px 0;
}

.write-post {
  border: 1px solid #EA6F5A;
  border-radius: 10px;
  background: #EA6F5A;

}

.write-post a:hover,
.write-post a:active,
.write-post a:link,
.write-post a {
  color: white;
}

.posts-begin {
  height: 60px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.post-border {
  padding: 20px;
  margin-bottom: 50px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
}

.post-container {
  width: 65%;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  padding: 20px 0;
}

.post-container a:hover,
.post-container a {
  text-decoration: none;
  color: black;
}

.post-title {
  word-wrap: break-word;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}

.post-content {
  color: #999;
  font-size: 13px;
  word-wrap: break-word;
}

.click-icon {
  height: 20px;
  width: 20px;
}

.icon-text {
  margin-right: 10px;
  line-height: 20px;
  color: #b4b4b4;
}

.nav-item {
  padding: 11px 0;
  margin: 0 20px;
}

.single-post-title {
  word-wrap: break-word;
  margin-top: 20px;
}

.single-post-content {
  padding: 50px 0;
  font-size: 16px;
  word-wrap: break-word;
}

.info {
  display: inline-block;
  vertical-align: middle;
}


.meta {
  font-size: 12px;
  color: #969696;
}

.name {
  font-size: 16px;
  vertical-align: middle;
}

.author {
  margin-top: 20px;
}

.author img {
  margin-right: 10px;
}

.edit {
  float: right;
  color: #9b9b9b;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  padding: 5px 10px;
}

.edit:hover {
  color: #9b9b9b;
  background: rgb(233, 231, 231);
  text-decoration: none;
}

.time {
  margin-right: 8px;
}

.like {
  margin-bottom: 50px;
}

.like-group {
  border: 1px solid #EA6F5A;
  color: #EA6F5A;
  border-radius: 30px;
  font-size: 19px;
  padding: 10px 25px;
}

.btn-like {
  display: inline;
}

.modal-wrap {
  display: inline;
  padding-left: 5px;
}

.do-like {
  background: #EA6F5A;
  color: white;
}